body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Awalnya disembunyikan saat loading */
}

h1 {
  color: #333;
}

.status {
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

#autoButton {
  background-color: green;
  color: white;
}

#manualButton {
  background-color: yellow;
}

#stopButton {
  background-color: #f44336;
  color: white;
}

#emergencyButton {
  background-color: #f44336;
  color: white;
}

/* Animasi Loading */
#loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #333;
  font-size: 20px;
}

/* Gambar Loading Kartun */
#loadingImage {
  width: 150px; /* Sesuaikan ukuran */
  height: auto;
}
